<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <script>
        $(function () {
            $("#a_testJquery").click(function () {
               // alert('testJqueryAjax');
               var obj = {};
               obj.aa='aa';
               obj.bb=1;
               $.ajax({
                   type:'POST',
                   url:'/jQueryAjaxTest',
                   data:JSON.stringify(obj),
                   dataType:'json',
                   contentType:'application/json; charset=utf-8',
                   success:function (result) {
                        console.info(result);
                   }
               });
            });

            //点击生成
            $("#a_msg").click(createQRCode);

            //生成方法
            function createQRCode() {
                var msgStr = $('#input_msg').val();
                var cQRUrl = '/createQrCode';
                var url = cQRUrl + '?' + 'msg=' + msgStr;
                $('#img_QR').attr('src',url);
            }
        })
    </script>
</head>
<body>
    <div class="container" hidden>
        <a id="a_testJquery" href="javascript:void(0)">测试jquery</a>
        <div class="row">
            <p th:text="${msg}" class="col-4"></p>
        </div>
    </div>
    <div class="container mt-3">
        <a id="a_msg" href="javascript:void(0)">生成二维码</a>
        <input id="input_msg" type="text">
        <img id="img_QR" src="/createQrCode" alt="">
    </div>
</body>
</html>